In [1]:
l=["PWskills",[1, 2, 3],10.23,(1, 2, 3)]
print(l)

['PWskills', [1, 2, 3], 10.23, (1, 2, 3)]

Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.


What will be the data type of the above given variable.

In [2]:
var1 =' '
type(var1 )

str

In [3]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [4]:
var3 = [ 'DS' , 'ML' , 'Python' ]
type(var3)

list

In [5]:
var4 = 1
type(var4)

int

Explain the use of the following operators using an example:

(i) /

(ii) %
(iii) //

(iv) **

In [6]:
a=10
b=5

In [15]:
c=a/b
print(c)
"""The / operator is used for division. It performs division and 
returns the quotient e.g. 10/5 quotient will be 2"""

0.0

'The / operator is used for division. It performs division and \nreturns the quotient e.g. 10/5 quotient will be 2'

In [8]:
c=a%b
print(c)
"""The % operator is used for mod. It performs division and 
returns the remainder e.g. 10%5 remainder will be 0 as it completely divisble"""

0

'The % operator is used for mod. It performs division and \nreturns the remainder e.g. 10%5 remainder will be 0 as it completely divisble'

In [9]:
c=a//b
print(c)
"""The // operator is used for floor division. It performs division and 
returns the largest whole number that is less than or equal to the quotient e.g 10//5=2"""

2

'The // operator is used for floor division. It performs division and \nreturns the largest whole number that is less than or equal to the quotient e.g 10//5=2'

In [10]:
c=5**2
print(c)
"""The ** operator is used for exponentiation. It raises the first operand to the power of the second operand e.g 5^2=25"""

25

'The ** operator is used for exponentiation. It raises the first operand to the power of the second operand e.g 5^2=25'

Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [11]:
list1=["PWskills",1,2,3,[1, 2, 3],10.23,(1, 2, 3),1+2j,True,False]

In [12]:
c=0
for i in range(0,len(list1)):
    a=list1[i]
    print(a)
    c=c+1
else:
    print("All",c," elements Printed")

PWskills
1
2
3
[1, 2, 3]
10.23
(1, 2, 3)
(1+2j)
True
False
All 10  elements Printed

Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [27]:
A=100
B=5
while(A>=B):
    if(A%B==0):
        A=A//B
    else:
        print("A is not Divisble by B")
        break
    
else:
    A=100
    B=5
    C=A//B
    print("Yes A is Divisble by B",C,"times")

Yes A is Divisble by B 20 times

Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [31]:
List2=list(range(25))
print(List2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [32]:
for i in List2:
    if(i%3==0):
        print(i ,"is divisble by 3")
    else:
        print(i ,"is not divisble by 3")

0 is divisble by 3
1 is not divisble by 3
2 is not divisble by 3
3 is divisble by 3
4 is not divisble by 3
5 is not divisble by 3
6 is divisble by 3
7 is not divisble by 3
8 is not divisble by 3
9 is divisble by 3
10 is not divisble by 3
11 is not divisble by 3
12 is divisble by 3
13 is not divisble by 3
14 is not divisble by 3
15 is divisble by 3
16 is not divisble by 3
17 is not divisble by 3
18 is divisble by 3
19 is not divisble by 3
20 is not divisble by 3
21 is divisble by 3
22 is not divisble by 3
23 is not divisble by 3
24 is divisble by 3

What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [38]:
list1=[1,2,"test",4+3j]
print(list1)
"""mutable data types are those which can be modified, means we can alter their elements check below example-"""

[1, 2, 'test', (4+3j)]

'mutable data types are those which can be modified, means we can alter their elements check below example-'

In [39]:
list1[3]="complex number"
print(list1)
"""Here you can see we have changed one of the element in the list 4+3j replaced by complex number"""

[1, 2, 'test', 'complex number']

'Here you can see we have changed one of the element in the list 4+3j replaced by complex number'

In [41]:
str1="PWskills"
"""Immutable data types are those which can be altered, means we can not modify or change their elements check below example-"""

'Immutable data types are those which can be altered, means we can not modify or change their elements check below example-'

In [42]:
str1[0]="C"

TypeError: 'str' object does not support item assignment

In [43]:
"""We tried to change the value in str1, we wanted to replace P with C in PWskills string defined but it threw an error"""

'We tried to change the value in str1, we wanted to replace P with C in PWskills string defined but it threw an error'